.task{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;

    font-size: 20px;
}
p{
    width: 100px;
    text-align: justify;
    word-wrap: break-word;
    cursor: text;
}

@media (max-width: 900px) {
    .task{
        width: 90%;
        justify-content: space-around
    }
    p{
        width: 50%;
        text-align: center;
    }
    p:hover{
       font-size: 25px;
    }
}
@media (max-width: 500px) {
    p{
        text-align: center;
    }
}